/* Use CSS variables to define colours and fonts */
:root {
    /* Colours */
    --background-colour: #E8E9ED;
    --text-colour: #0B2027;
    --button-bg-colour: #BABFD1; 
    --accent-colour-1: #607196;
    --accent-colour-2: #E8C547;
    /* Fonts */
    --body-font: 'Roboto', sans-serif;
    --heading-font: 'Abril Fatface', serif;
  }


/* Apply global styles */
body {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    min-height: 100vh;
    font-family: var(--body-font); /* Use the body font */
    background-color: var(--background-colour);
    color: var(--text-colour);
    margin: 0;
    padding: 0;
}

/* Container that holds everything */
#container {
    width: 100%;              /* Optional: make the container take full width */
    max-width: 600px;         /* Optional: max width for content */
    padding: 20px;
    text-align: center;       /* Centers text inside the container */
    display: flex; /* Set the container to be a flexible container */
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Ensures all items inside are centered horizontally */
}

/* Heading style */
#heading {
    font-size: 75px;
    font-family: var(--heading-font); /* Apply the heading font */
    text-align: center;
}

/* Styling for the weather icon */
#weather-icon {
    font-size: 62px;          /* Make the icon larger */
    margin-top: 10px;          /* Adds space between the icon and text */
    color:var(--accent-colour-2) ;
}

/* Styling for search container */
#search-box {
    background: #f9f9f9;
    padding: 20px;  /* Set padding to 20 */
    border-radius: 8px;   /* Round bottom corners only */
    width: 350px; /* Set container width to 300 */
    flex-direction: column; /* This makes the elements stack vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px; /* Adds space between input and button */
}

/* Styling for airport code input box */
#airport-code {
    padding: 10px;
    width: 200px;
    background-color: #f9f9f9; /* white backgroun */
    border: 1px solid var(--accent-colour-1);
    border-radius: 8px;
    margin-bottom: 10px;
}
    

/* Styling the button */
#button {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    background-color:var(--accent-colour-1);
    color: #fff;
    border:none;
}

/* Initially hide the weather box */
#weather-box {
    visibility: hidden;
    background-color: #f9f9f9;
    overflow: hidden;
    padding: 20px;  /* Set padding to 20 */
    border-radius: 0 0 8px 8px;   /* Round bottom corners only */
    width: 350px; /* Set container width to 300 */
    flex-direction: column; /* This makes the elements stack vertically */
    align-items: center; /* Center items horizontally */
}

/* Styling for individual weather info */
#weather-box p {
    font-size: 24px;        /* Make the text a bit larger */
    margin: 10px 0;           /* Adds space between paragraphs */
}

/* When the weather box is visible */
#search-box.show {
    border-radius: 8px 8px 0 0;     /* Round top corners only */
}

/* Show weather box when it's not hidden */
#weather-box.show {
    visibility: visible;
    opacity: 1;
    max-height: 500px; /* Adjust as needed */
}

#error-message {
    border: 1px solid red;
    background-color: #ffe6e6;
    color: red;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: none; /* Initially hidden */
    font-weight: bold;
    text-align: center;
}


 
